@use "sass:math";

:root,
html,
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    #board {
        $board-size: 960px;
        $board-border-radius: 24px;

        $box-margin: 8px;
        $box-size: math.div($board-size, 4) - $box-margin * 2;

        width: $board-size + $box-margin * 2;
        height: $board-size + $box-margin * 2;

        padding: $box-margin;

        border-radius: $board-border-radius;

        background-color: #ccc;

        .box,
        .tile {
            position: absolute;
            width: $box-size;
            height: $box-size;

            background-color: #ddd;

            border-radius: $board-border-radius;
            margin: $box-margin;
        }

        .tile {
            position: absolute;

            @keyframes appear {
                from {
                    scale: 0;
                }
                to {
                    scale: 1;
                }
            }

            animation: appear 0.2s ease forwards;
            transition: all 0.2s ease;

            border-radius: $board-border-radius;
            background-color: #eee;

            width: $box-size;
            height: $box-size;

            display: flex;
            justify-content: center;
            align-items: center;

            font-weight: bold;
            font-size: 6rem;

            &.merged {
                @keyframes merge {
                    0% {
                        scale: 1;
                    }
                    50% {
                        scale: 1.2;
                    }
                    100% {
                        scale: 1;
                    }
                }

                z-index: 10;

                animation:
                    appear 0.2s ease forwards,
                    merge #{$ENV_VITE_ANIMATION_MERGE_DURATION}ms ease forwards;
            }
        }

        @for $y from 0 through 4 {
            @for $x from 0 through 4 {
                .box[data-x="#{$x}"][data-y="#{$y}"],
                .tile[data-x="#{$x}"][data-y="#{$y}"] {
                    translate: $x *
                        ($box-size + $box-margin * 2)
                        $y *
                        ($box-size + $box-margin * 2);
                }
            }
        }
    }
}
