@use "sass:math";
@use "sass:color";

$board-size: 400px;
$board-margin: math.div($board-size, 40);
$board-border-radius: math.div($board-size, 20);

$shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);

$color-background: #333333;
$color-board: #746a61;
$color-background-dark: #8f7a66;

$color-text-light: #f9f6f2;
$color-text-dark: #776e65;
$color-text-medium: #e4dfd6;

$color-tile-2: #eee4da;
$color-tile-4: #ede0c8;
$color-tile-8: #f2b179;
$color-tile-16: #f59563;
$color-tile-32: #f67c5f;
$color-tile-64: #f65e3b;
$color-tile-128: #edcf72;
$color-tile-256: #edcc61;
$color-tile-512: #edc850;
$color-tile-1024: #edc53f;
$color-tile-2048: #edc22e;
$color-tile-max: #3c3a32;

@keyframes pulsating {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

:root,
html,
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;

    margin: 0;
    padding: 0;

    background-color: $color-background;

    width: $board-size + $board-margin * 3;

    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    margin: $board-margin;

    $border-radius-block: 0.5rem;

    #scores {
        display: flex;

        $score-container-gap: 2rem;
        $score-container-width: 8rem;
        $score-container-padding-x: 1rem;

        gap: $score-container-gap;

        width: $score-container-width * 2 + $score-container-padding-x * 2 +
            $score-container-gap;

        position: relative;

        &:not(.no-animate) {
            .score-container {
                $transition-duration: 1s;
                transition:
                    width $transition-duration,
                    opacity $transition-duration;
            }
            #high-score {
                animation: pulsating 2s infinite ease-in-out;
            }
        }

        .score-container {
            font-size: 2rem;
            font-weight: bold;
            text-align: center;

            padding: 0.5rem $score-container-padding-x;
            width: $score-container-width;

            background-color: $color-board;
            box-shadow: $shadow;
            border-radius: $border-radius-block;

            div.score-title {
                font-size: 1.2rem;
                color: $color-text-medium;
            }

            div.score {
                font-size: 2.4rem;
                color: $color-text-light;
            }
        }

        &.new-highscore {
            #highscore-container {
                position: absolute;
                width: calc(100% - #{$score-container-gap});
                right: $score-container-gap;
                background-color: $color-tile-64;
            }

            #score-container {
                opacity: 0;
            }
        }
    }

    .buttons {
        display: flex;
        flex-direction: row;

        align-items: center;

        #settings-button {
            height: 5rem;
            padding: 0.5rem;

            margin: 0 0.75rem;

            border-radius: $border-radius-block;

            &:hover {
                background-color: rgba($color-board, 0.5);
                cursor: pointer;
            }
        }

        button {
            font-size: 1.6rem;
            font-weight: bold;

            padding: 0.5rem 1rem;
            height: 100%;

            background-color: $color-background-dark;
            box-shadow: $shadow;
            border: none;
            border-radius: $border-radius-block;

            color: $color-text-light;
            cursor: pointer;

            &:hover {
                background-color: color.adjust($color-board, $lightness: -5%);
            }
        }
    }
}

main {
    margin: $board-margin;

    #board {
        $box-margin: math.div($board-size, 100);
        $box-size: math.div($board-size, 4) - $box-margin * 2;

        width: $board-size + $box-margin * 2;
        height: $board-size + $box-margin * 2;

        padding: $box-margin;

        border-radius: $board-border-radius;

        background-color: $color-board;
        box-shadow: $shadow;

        .tile {
            position: absolute;

            transition: all 0.2s ease;

            border-radius: $board-border-radius;

            width: $box-size;
            height: $box-size;

            margin: $box-margin;

            display: flex;
            justify-content: center;
            align-items: center;

            font-weight: bold;
            font-size: math.div($board-size, 14);

            z-index: 5;

            &[data-value="4096"],
            &[data-value] {
                background-color: $color-tile-max;
                color: $color-text-light;
            }
            &[data-value="2"] {
                background-color: $color-tile-2;
                color: $color-text-dark;
            }
            &[data-value="4"] {
                background-color: $color-tile-4;
                color: $color-text-dark;
            }
            &[data-value="8"] {
                background-color: $color-tile-8;
                color: $color-text-light;
            }
            &[data-value="16"] {
                background-color: $color-tile-16;
                color: $color-text-light;
            }
            &[data-value="32"] {
                background-color: $color-tile-32;
                color: $color-text-light;
            }
            &[data-value="64"] {
                background-color: $color-tile-64;
                color: $color-text-light;
            }
            &[data-value="128"] {
                background-color: $color-tile-128;
                color: $color-text-light;
            }
            &[data-value="256"] {
                background-color: $color-tile-256;
                color: $color-text-light;
            }
            &[data-value="512"] {
                background-color: $color-tile-512;
                color: $color-text-light;
            }
            &[data-value="1024"] {
                background-color: $color-tile-1024;
                color: $color-text-light;
            }
            &[data-value="2048"] {
                background-color: $color-tile-2048;
                color: $color-text-light;
            }
        }

        @for $y from 0 through 4 {
            @for $x from 0 through 4 {
                .box[data-x="#{$x}"][data-y="#{$y}"],
                .tile[data-x="#{$x}"][data-y="#{$y}"] {
                    translate: $x *
                        ($box-size + $box-margin * 2)
                        $y *
                        ($box-size + $box-margin * 2);
                }
            }
        }
    }
}
